/* Clock face themes */
clock_frame_1 {
  color: @theme_text_color;
  background-color: @borders;
}

.clock_frame_1 > .colon {
  font-size: 60px;
  color: @theme_text_color;
}

.clock_frame_1 > .clock_label {
  font-size: 64px;
  font-weight: 200;
  border-radius: 10px;
  background-color: @borders;
  color: @theme_text_color;
}

/*Set box holding labels as keycap style class in code for this theme*/
clock_frame_2 {
  border-radius: 10px;
  /*background-color: @borders;*/
}

.clock_frame_2 > .colon {
  font-size: 80px;
  color: @theme_text_color;
}

.clock_frame_2 > .clock_label {
  font-size: 80px;
  font-weight: 400;
  color: @theme_text_color;
}
