Source: nosurfin
Section: web
Priority: optional
Maintainer: bunsenmurder <bunsenmurder@disroot.org>
Build-Depends: debhelper (>= 12),
	       python-gi-dev,
	       python3-gi,
	       python3,
	       libglib2.0-dev,
	       libgtk-3-dev,
               meson,
	       meson (>=0.50.0),
               build-essential,
               gobject-introspection,
	       pkg-config,
               build-essential
Standards-Version: 4.0.0
Homepage: https://github.com/bunsenmurder/nosurfin

Package: nosurfin
Architecture: amd64
Depends: python3,
	 python3-gi (>=3.36.0),
	 pipx,
	 libnss3-tools,
	 python3-venv,
	 systemd,
     ${misc:Depends},
     ${shlibs:Depends},
     ${python3-gi:Depends},
     ${gir:Depends}
Recommends: python3-jeepney, 
     mitmproxy (>=5.0)
Description: Personal Website Blocker
 Block distracting websites and take back your productivity! NoSurfin is a 
 personal web site blocker for Linux, capable of blocking specific URLs 
 instead of hosts only blocking. Just add the URLs you wish to block to
 the block list, set the time period, and activate the block; those 
 websites will be blocked until the timer finishes. Great for when you want 
 to stop surfing the web and get some work done!
